body {
  margin: 0; }

header {
  background-color: #3366FF;
  height: 120px;
  display: flex;
  justify-content: center;
  padding: 10px; }

.main-title {
  color: #FFF;
  flex-grow: 1;
  text-align: center; }

nav ul li {
  margin-bottom: 5px; }

nav ul li a {
  color: #03F;
  text-decoration: none; }
  nav ul li a:link {
    text-decoration: none; }
  nav ul li a:hover {
    text-decoration: underline; }

footer {
  background-color: #3366FF;
  color: #fff;
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding-top: 10px; }

section {
  margin-bottom: 70px; }

.headerlogo {
  width: 160px; }

.main-container {
  display: flex;
  height: calc(100vh - 120px); }

.main-section {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center; }

.form-register {
  display: block; }
  .form-register label {
    display: inline-block;
    width: 80px; }
  .form-register input, .form-register select {
    width: 200px; }

.dropdown {
  margin: 0;
  width: 20%;
  border-right: 5px double #0AF; }
  .dropdown-content {
    margin: 0;
    display: block;
    float: left;
    padding-top: 20px; }
  .dropdown-content li {
    display: block;
    padding-right: 10px; }
