@{
    ViewBag.Title = "Index";

}

<h2>Lista de productos</h2>

@using (Html.BeginForm())
{
    <div class="row">

        <div class="col-md-3">
            <label>Buscar por nombre: </label>
            <input type="search" id="filterByName" class="form-control" value="" />
        </div>

        <div class="col-md-3">
            <label>Buscar por categoría: </label>
            @Html.DropDownList(
                "filterByCategoria",
                new SelectList(ViewBag.categorias,"CategoriaID","Nombre"),
                "- Seleccionar -",
                new { @class = "form-control" }
            )
        </div>
        <div class="col-md-3">
            <label>Buscar por marca: </label>
            @Html.DropDownList(
                "filterByMarca",
                new SelectList(ViewBag.marcas,"MarcaID","Nombre"),
                "- Seleccionar -",
                new { @class = "form-control" }
            )
        </div>
        <div class="col-md-3">
            <br />
            <button type="button" id="btnConsultar" class="btn btn-primary">Buscar</button>
        </div>
    </div>

}

<div id="resultado">

</div>

@section scriptsAdicionales
{
    <script src="~/Scripts/mustache.min.js"></script>

    <script id="resultadoTable" type="x-tmpl-mustache">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                {{#Resultado}}
                    <tr>
                        <td>{{ProductoCode}}</td>
                        <td>{{Nombre}}</td>
                    </tr>
                {{/Resultado}}
            </tbody>

        </table>

    </script>

    <script>

        $(document).ready(configInit);

        function configInit() {
            buscar();
            $("#btnConsultar").on("click",buscar)
        }

        function buscar() {
            //Funciones jquery ajax

            $.post('@Url.Action("Index3Buscar", "Producto")',
                {
                    filterByName: $("#filterByName").val(),
                    filterByCategoria: $("#filterByCategoria").val(),
                    filterByMarca: $("#filterByMarca").val()
                },
                function (response) {

                    response = JSON.parse(response)

                    console.log(response);

                    var template = $("#resultadoTable").html();

                    Mustache.parse(template);

                    var htmlRendered = Mustache.render(template,
                        { Resultado: response }
                    );

                    $("#resultado").html(htmlRendered);
                }
            );
        }

    </script>
}