
<div class="ConsultaProductosStock">
    <input class="Nombre form-control" style="width:20%;float:left;" />
    <input class="Stock form-control" style="width:20%;float:left;"/>
    <button type="submit" class="Buscar btn btn-success">Buscar</button>
</div>
<br />

<div id="ListaProductos"></div>

<script>    
    app.ConsultaProductosStockView.Init();
</script>
