body {
    margin:0;
}

header {
    background-color: $site-color-header;
    height: 120px;
    display:flex;
    justify-content:center;
    padding:10px;
}

.main-title{
    color:#FFF;
    flex-grow:1;
    text-align:center;
}

nav {

    ul {
        li {
            margin-bottom: 5px;
        }

        li a {
            color: #03F;
            text-decoration: none;

            &:link {
                text-decoration: none;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
footer {
    background-color: $site-color-footer;
    color: #fff;
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 10px;
}

section {    
    margin-bottom: 70px;
}

.headerlogo {
    width: 160px;
}
.main-container{
    display:flex;
    height:calc(100vh - 120px);
}
.main-section{
    flex-grow:1;   
    display:flex;
}

.form-register {
    display: block;
    margin:auto;
    label{
        display:inline-block;
        width:80px;
    }
    input, select {
        width: 200px;
    }
}

.dropdown {
    margin: 0;
    width: 20%;
    border-right: 5px double #0AF;

    &-content {
        margin: 0;
        display: block;
        float: left;
        padding-top: 20px;
    }

    &-content li {
        display: block;
        padding-right: 10px;
    }
}

.table-products {
    margin: 10px auto;
    border: 1px solid #777;
    width: 90%;
    font-family:Calibri;
    color:#333;
    border-collapse:collapse;

    th{
        text-align:left;
        border-right: 1px solid #aaa;
    }
    td,th{
        padding-left:5px;
    }
    
}

a {
    color: #03F;
    text-decoration: none;

    &:link {
        text-decoration: none;
    }

    &:hover {
        text-decoration: underline;
    }
}




